@import "bootstrap";

html,
body,
#root {
  height: 100%;
}

.container {
  width: inherit;
  height: inherit;
}

.content-center {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}
